@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  .acss-2l7eid {
    height: 100%;
  }
  .acss-g2x2pn {
    margin: 0;
  }
  .acss-1oolrh3 {
    padding: 0;
    border: none;
    margin-bottom: 0;
  }
}
